<!doctype html>
<% import config %>
<html>
<head>
    <title>${config.TITLE}</title>
    <meta charset="utf-8">
    <script src="${ static('js/main.js') }"></script>
    <link rel="stylesheet" href="${ static('css/style.css') }">
    <%block name="header"/>
</head>

<body>
    % for msg in get_messages():
        % if msg.tag == 'success':
            <div class="ui-green">
                ${msg.txt}
            </div>
        % elif msg.tag == 'error':
            <div class="ui-red">
                ${msg.txt}
            </div>
        % endif
    % endfor

    ${self.body()}
    <%block name="script"/>
</body>
</html>
