
{% extends "base.html" %}

{% block body %}
<div class="container">
    <form method="post">
        {{ xsrf_token }}
        <label for="username">帐号:</label>
        <input type="text" name="username" id="username" value="">
        <br>
        <label for="password">密码:</label>
        <input type="password" name="password" id="password" value="">
        <br>
        <label for="remember">
            <input id="remember" type="checkbox" checked>
            记住密码
        </label>
        <br/>

        <div>
            <input type="submit" name="" value="登 录">
        </div>
    </form>
</div>
{% endblock %}
